/*wkpdf --source index.html --output test.pdf --landscape --margin 20 --hcenter
*/

div#page {
page-break-after: always;
}

div#page {
	border-style: solid;
	border-width: 2px;
	border-color: green;
	
	width: 730pt;
	max-width: 730pt;
	
	height: 480pt;
	max-height: 480pt;
	
	margin-top: 20pt;
	margin-bottom: 15pt;	
}